
html, body, div, section, a, img, h1, h2, h3, h4, h5, p, ul, li, footer{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#wrapper{
    background: url() no-repeat;
    background-size: 100%;
    margin: 0;
    display: block;
    text-align: center;
}

#main{
    max-width: 480px;
    min-width: 320px;
    margin: 0;
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color:white;
    display: inline-block;
    text-align: center;
}

img{
    width: 240px;
}

footer{
    display: block;
}

body{
    line-height: 1;
}

h1, h2, h3, h4, h5, p{
    color: #313f47;
    line-height: 1.5;
    margin: 0 0 0.75em 0;
    font-family: 'Julius Sans One', sans-serif;
}

h2{
    margin-top: 1.75em;
    font-size: 18pt;
}


ul{
    list-style: none;
}

ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
			margin-top: 0.75em;
		}

			ul.icons li {
				display: inline-block;
				padding: 0.675em 0.5em;
			}

            ul.icons li a {
                text-decoration: none;
                position: relative;
                display: block;
                width: 3.75em;
                height: 3.75em;
                border-radius: 100%;
                border: solid 1px #c8cccf;
                line-height: 3.75em;
                overflow: hidden;
                text-align: center;
                text-indent: 3.75em;
                white-space: nowrap;
            }

                ul li a:before {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;

                }

                ul li a:before {
                    color: #ffffff;
                    text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
                }

                ul li a:hover:before {
                    text-shadow: 1.25px 0px 0px #007bb5, -1.25px 0px 0px #007bb5, 0px 1.25px 0px #007bb5, 0px -1.25px 0px #007bb5;
                }

                ul li a:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: inherit;
                    height: inherit;
                    font-size: 1.85rem;
                    line-height: inherit;
                    text-align: center;
                    text-indent: 0;
                }

                ul li a:hover {
                    border-color: #007bb5;
                }

a {
		transition: color 0.2s ease, border-color 0.2s ease;
		color: inherit;
		text-decoration: none;
	}

		a:before {
			transition: color 0.2s ease, text-shadow 0.2s ease;
		}

		a:hover {
			color: #ff7496;
		}
